nexys4ddr/work
nexys4ddr/work_cpu_debug
usage_statistics_webtalk.html
nexys4ddr/webtalk.log
nexys4ddr/webtalk_impact.xml
nexys4ddr/webtalk_pn.xml
nexys4ddr/iseconfig
nexys4ddr/_xmsgs
nexys4ddr/env1.gise
nexys4ddr/env1_summary.html
impact.xsl
impact_impact.xwbt
assembler/qasm
assembler/qasm2rom
register_file.sym
emulator/qnice
emulator/qnice-vga
emulator/qnice.js
emulator/qnice.html
emulator/qnice.wasm
emulator/qnice.data
emulator/qnice_disk.img
*.bin
*.lis
*.out
*.o
*.rom
*.def
*.aux
*.log
*.snm
*.nav
*.toc
*.stc
*.swp
*.swo
*.obj
c/vasm/vasmqnice_std
c/vasm/vobjdump
c/vbcc/bin
c/vlink/vlink
c/test_programs/mapfile
c/qnice/qniceconv
c/test_programs/wolfram
c/vclib
c/vclib*.tgz
c/qnice/monitor-lib/lib/*.asm
_site
assembler
c
demos
emulator
monitor
pore
test_programs
