nexys4ddr/work
nexys4ddr/work_cpu_debug
usage_statistics_webtalk.html
nexys4ddr/webtalk.log
nexys4ddr/webtalk_impact.xml
nexys4ddr/webtalk_pn.xml
nexys4ddr/iseconfig
nexys4ddr/_xmsgs
nexys4ddr/env1.gise
nexys4ddr/env1_summary.html
impact.xsl
impact_impact.xwbt
assembler/qasm
assembler/qasm2rom
register_file.sym
emulator/qnice
*.bin
*.lis
*.out
*.o
*.rom
*.bin
*.def
*.aux
*.log
*.snm
*.nav
*.toc
*.stc
*.swp
*.swo
c/vasm/vasmqnice_std
c/vasm/vobjdump
c/vbcc/bin
c/vlink/vlink
c/test_programs/mapfile
c/qnice/qniceconv
c/test_programs/wolfram
c/vclib
c/vclib*.tgz
c/make-vclib.sh
c/qnice/monitor-lib/lib/*.asm
