nexys4ddr/work
nexys4ddr/work_cpu_debug
usage_statistics_webtalk.html
nexys4ddr/webtalk.log
nexys4ddr/webtalk_impact.xml
nexys4ddr/iseconfig
impact.xsl
impact_impact.xwbt
assembler/qasm
assembler/qasm2rom
register_file.sym
emulator/qnice
*.lis
*.out
*.rom
*.bin
*.def
*.aux
*.log
*.snm
*.nav
*.toc
*.stc
*.swp
*.swo
