## Nexys 4 DDR specific mapping of "QNICE-FPGA Environment 1"
## done by sy2002 in 2015

## Clock signal
NET "CLK"   LOC = "E3"  |IOSTANDARD = "LVCMOS33";             #Bank = 35, Pin name = #IO_L12P_T1_MRCC_35, Sch name = clk100mhz
NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%; 

##NET "SLOW_CLOCK" TNM_NET = SLOW_CLOCK;
##TIMESPEC TS_SLOW_CLOCK = PERIOD "SLOW_CLOCK" 50 MHz HIGH 50%;

## Reset button
NET "RESET_N"              LOC = C12 |IOSTANDARD = LVCMOS33;

## 7 segment display
NET "SSEG_CA<0>"           LOC = T10 |IOSTANDARD = LVCMOS33; #IO_L24N_T3_A00_D16_14
NET "SSEG_CA<1>"           LOC = R10 |IOSTANDARD = LVCMOS33; #IO_25_14
NET "SSEG_CA<2>"           LOC = K16 |IOSTANDARD = LVCMOS33; #IO_25_15
NET "SSEG_CA<3>"           LOC = K13 |IOSTANDARD = LVCMOS33; #IO_L17P_T2_A26_15
NET "SSEG_CA<4>"           LOC = P15 |IOSTANDARD = LVCMOS33; #IO_L13P_T2_MRCC_14
NET "SSEG_CA<5>"           LOC = T11 |IOSTANDARD = LVCMOS33; #IO_L19P_T3_A10_D26_14
NET "SSEG_CA<6>"           LOC = L18 |IOSTANDARD = LVCMOS33; #IO_L4P_T0_D04_14
NET "SSEG_CA<7>"           LOC = H15 |IOSTANDARD = LVCMOS33; #IO_L19N_T3_A21_VREF_15

NET "SSEG_AN<0>"           LOC = J17 |IOSTANDARD = LVCMOS33; #IO_L23P_T3_FOE_B_15
NET "SSEG_AN<1>"           LOC = J18 |IOSTANDARD = LVCMOS33; #IO_L23N_T3_FWE_B_15
NET "SSEG_AN<2>"           LOC = T9  |IOSTANDARD = LVCMOS33; #IO_L24P_T3_A01_D17_14
NET "SSEG_AN<3>"           LOC = J14 |IOSTANDARD = LVCMOS33; #IO_L19P_T3_A22_15
NET "SSEG_AN<4>"           LOC = P14 |IOSTANDARD = LVCMOS33; #IO_L8N_T1_D12_14
NET "SSEG_AN<5>"           LOC = T14 |IOSTANDARD = LVCMOS33; #IO_L14P_T2_SRCC_14
NET "SSEG_AN<6>"           LOC = K2  |IOSTANDARD = LVCMOS33; #IO_L23P_T3_35
NET "SSEG_AN<7>"           LOC = U13 |IOSTANDARD = LVCMOS33; #IO_L23N_T3_A02_D18_14

##USB-RS232 Interface
NET "UART_RXD"             LOC=C4 |IOSTANDARD=LVCMOS33; #IO_L7P_T1_AD6P_35
NET "UART_TXD"             LOC=D4 |IOSTANDARD=LVCMOS33; #IO_L11N_T1_SRCC_35
#NET "UART_CTS"             LOC=D3 | IOSTANDARD=LVCMOS33; #IO_L12N_T1_MRCC_35
#NET "UART_RTS"             LOC=E5 | IOSTANDARD=LVCMOS33; #IO_L5N_T0_AD13N_35

