Constraints of the QNICE-FPGA (env1) design, that should be mentioned,
when writing the documentation:

SD Card:

* We tested microSD and microSDHC cards in the built-in card slot using a
  Nexys 4 DDR board. Presumably everything also works fine with normal sized
  SD cards and miniSD cards on other boards and other readers.
* All SD V1 and SD V2 cards are working. We tested capacities between
  64 MB and 2 GB using also different card brands (Nokia, SanDisk, Transcend).
* When it comes to SDHC cards, i.e. cards larger than 2 GB, the following are
  tested as working: SanDisk 32 GB microSDHC Class 4,
  Transcend 32 GB microSDHC Class 10, Elegant 32 GB
* NOT WORKING are cards like SanDisk "Ultra" Class 10 cards (80 MB/Sek). Use
  slower cards instead, like SanDisk's 32 GB Class 4 card. So for summing it
  up: If you want to be on the safe side, then use cards SD cards (no SDHC,
  no SDXC) with a capacity of a maximum of 2 GB.
* MBR partition table
* FAT32 with a 512 byte sector size.
  ATTENTION: FAT16 and others are not supported, you probably need to 
  manually format the SD Card to be sure, that you are running with FAT32.
* Maximum 65.535 files per folder.
* File names are ASCII only (no Unicode).
* MAC USERS: Do not use the GUI version of the disk utility, as you cannot
  control, if the tool creates FAT16 or FAT32. Use the command line
  version of diskutil instead:

  sudo diskutil eraseDisk FAT32 <name> MBRFormat /dev/<devicename>

  Find out <devicename> using "diskutil list". <name> can be chosen
  arbitrarily.

USB Keyboard:

When attaching an USB keyboard, be sure to use one that supports the old
USB boot mode standard. Not all newer keyboards are compatible. These
keyboards are tested and work:

* Cherry KC 1000
* Logitech Ultra-Flat Y-BP62a
* Tacens Scriba
* VIVANCO 36641 IT-KB USB PS2

VGA:

The monitor needs to support 640x480 and 640x400 in 60 Hz.
