## MEGA65 mapping for QNICE-FPGA
## done by sy2002 in April 2020

## Clock signal
NET "CLK"                  LOC = V13  | IOSTANDARD = "LVCMOS33";
NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%; 

NET "SLOW_CLOCK" TNM_NET = SLOW_CLOCK;
TIMESPEC TS_SLOW_CLOCK = PERIOD "SLOW_CLOCK" 50 MHz HIGH 50%;

## EAE's combinatorial division networks take longer than
## the regular clock period, so we specify a timing constraint
## for them (see also the comments in EAE.vhd)
INST "eae_inst/op*" TNM="EAE_OPS";
INST "eae_inst/res*" TNM="EAE_RES";
TIMESPEC TS_EAE=FROM "EAE_OPS" TO "EAE_RES" 32 ns;

## Reset button
NET "RESET_N"              LOC = M13 | IOSTANDARD = LVCMOS33;

## USB-RS232 Interface (rxd, txd only; rts/cts are not available)
NET "UART_RXD"             LOC = L14  | IOSTANDARD = LVCMOS33;
NET "UART_TXD"             LOC = L13  | IOSTANDARD = LVCMOS33;

## MEGA65 smart keyboard controller
NET "kb_io0"               LOC = A14  | IOSTANDARD = LVCMOS33;
NET "kb_io1"               LOC = A13  | IOSTANDARD = LVCMOS33;
NET "kb_io2"               LOC = C13  | IOSTANDARD = LVCMOS33;

## VGA
NET "vga_red[0]"           LOC = U15   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_red[1]"           LOC = V15   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_red[2]"           LOC = T14   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_red[3]"           LOC = Y17   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_red[4]"           LOC = Y16   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_red[5]"           LOC = AB17  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_red[6]"           LOC = AA16  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_red[7]"           LOC = AB16  | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "vga_green[0]"         LOC = Y14   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_green[1]"         LOC = W14   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_green[2]"         LOC = AA15  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_green[3]"         LOC = AB15  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_green[4]"         LOC = Y13   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_green[5]"         LOC = AA14  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_green[6]"         LOC = AA13  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_green[7]"         LOC = AB13  | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "vga_blue[0]"          LOC = W10   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_blue[1]"          LOC = Y12   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_blue[2]"          LOC = AB12  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_blue[3]"          LOC = AA11  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_blue[4]"          LOC = AB11  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_blue[5]"          LOC = Y11   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_blue[6]"          LOC = AB10  | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_blue[7]"          LOC = AA10  | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "vga_hs"               LOC = W12   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vga_vs"               LOC = V14   | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "vdac_clk"             LOC = AA9   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vdac_sync_n"          LOC = V10   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "vdac_blank_n"         LOC = W11   | IOSTANDARD = LVCMOS33 | SLEW = FAST;

## Micro SD Connector (this is the slot at the bottom side of the case under the cover)
NET "SD_RESET"             LOC = B15   | IOSTANDARD = LVCMOS33;
NET "SD_CLK"               LOC = B17   | IOSTANDARD = LVCMOS33;
NET "SD_MOSI"              LOC = B16   | IOSTANDARD = LVCMOS33;
NET "SD_MISO"              LOC = B18   | IOSTANDARD = LVCMOS33;
